* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
}
/* .page-5{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
} */

.page-5-box {
    width: 90%;
    max-width: 1050px;
    padding: 5% 0;
    display: grid;
    grid-template-columns: 7% auto 7%;
    margin: 0 auto;
}

.icon {
    height: 80%;
    margin: auto 0;
    background-color: #13162b;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    font-weight: bolder;
    color: white;
    transition: all 1s;
}
.icon:hover{
    background-color: #3fb9be;
}

.slide {
    position: relative;
    overflow: hidden;
    white-space: nowrap;
    height: 500px;
    font-size: 0;
}

.slide-box {
    position: relative;
    width: 100%;
    height: 100%;
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.dark {
    transition: all 2s;
}

.play {
    font-size: 80px;
    width: 110px;
    height: 110px;
    border-radius: 90px;
    background-color: #00000078;
    color: #3fb9be;
    display: none;
    transition: all 1s;
}
.play:hover{
    background-color:  #3fb9be;
    color: #fff;
}
.center{
    height: 110px;
    border-radius: 90px;
    width: 110px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.play-button {
    display: block;
}

.dark-image {
    position: absolute;
    /* width: 100%;
    height: 100%; */
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #000000c0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.video-page {
    position: absolute;
    width: 100%;
    height: 100%;
    padding-top: 56.25%;
    display: none;
}
.responsive-iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    border: none;
  }
 
.block-vedio {
    display: block;
}

.slide-box1 {
    background-image: url("image_06-1170x658.jpg");
}

.slide-box2 {
    background-image: url("image_09-1170x658.jpg");
}

.slide-box3 {
    background-image: url("image_11-1170x658.jpg");
}

.slide-box4 {
    background-image: url("image_13-1170x658.jpg");
}
@media screen and (max-width: 1000px) {
    .page-5-box{
        grid-template-columns: 9% auto 9%;
    }
    .slide{
        height: 400px;
    }
}

  @media screen and (max-width: 900px) {
    
    .icon{
        font-size: 20px;
    }
    .slide{
        height: 300px;
    }
    .play{
        display: block;
    }
    .dark{
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
 @media screen and (max-width: 600px) {
    .icon{
        font-size: 10px;
    }
    .slide{
        height: 200px;
    }
}
/*@media screen and (max-width: 450px) {
    .page-5-box{
        padding: 320px 20px;
        grid-template-columns: 13% auto 13%;
    }
    .icon{
        font-size: 12px;
    }
}  */